
body {
  background: #F0F0F0 !important;
}
.nav-text:hover{
 border-bottom: 2px solid #a259ff;
}
.box {
  background: white ;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.box:hover {
  background: #a259ff !important;
  color: white !important;
}

.orange-text {
  color: #E16259;
}